h1 {
    text-align: center;
    font-size: 4vw;
}
#ana {
    /*position: relative;*/
    border: 1px solid black;
    width: 76vw;
    height: 60vw;
    background-color: rgb(118, 164, 223);
    padding: 6px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0); 
}
#ana img {
    float: left;
    width: 14vw;
    height: 14vw;
    padding: 4px;  
}

button {  
    color:white;
    vertical-align:middle;
    text-align:center;
    border-style: none;
    background-color: rgba(255,  255, 255, 0);
}
button img {  
    background-color: rgba(255,  255, 255, 0);
    z-index: 2;
}

#skor {
    text-align: center;
    padding: 3px;
    margin-bottom: 10px;
    font-size: 3vw;
}
h3{
    text-align: center;
    font-size: 3vw;
}
/* ------------------------------------------- */
@media screen and (max-width: 900px) {
    #ana { 
        width: 58vw;
        height: 69vw;   
    }
    #ana img {
        float: left;
        width: 13vw;
        height: 13vw;     
    }
    .popuptext {
        left: 24vw;
    }
  }
/* @media sonu ------------------------------------ */
/* ------------------------------------------- */
@media screen and (max-width: 770px) {
    #ana { 
        width: 55vw;
        height: 69vw;     
    }
    #ana img {
        float: left;
        width: 12vw;
        height: 12vw;  
        padding: 4px;     
    }
    .popuptext {
        left: 24vw;
    }
  }
/* @media sonu ------------------------------------ */


/* --------------------- popup -----------------------
   The actual popup */
  .popuptext {
    position: absolute;  
    visibility: hidden;
    width: 50vw;
    background-color: rgb(129, 19, 105);
    color: #fff;
    text-align: center;
    font-size: 5vw;
    border-radius: 3vw;
    padding: 1vw;
    clear: both;
    z-index: 1;
    top:40vw;

    left:24vw;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);  
  }
  
  .show {
    position: absolute;
    visibility: visible;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        top:0%
    }
    to {opacity:1 ;
        top:40%
    }
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
        top:0%
    }
    to {opacity:1 ;
        top:40%;
    }
  }
