h1 {
    text-align: center;
    font-size: 30px;
}
#ana {
    position: relative;
    width: 540px;
    height: 440px; 
    border: 1px solid black;
    background-color: rgb(118, 164, 223);
    padding: 4px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0); 
}
#ana img {
    float: left;
    width: 100px;
    height: 100px;
    padding: 4px;  
}

button {  
    color:white;
    vertical-align:middle;
    text-align:center;
    border-style: none;
    background-color: rgba(255,  255, 255, 0);
}
button img {  
    background-color: rgba(255,  255, 255, 0);
    z-index: 2;
}

#skor {
    text-align: center;
    padding: 3px;
    margin-bottom: 10px;
    font-size: 24px;
}
h3{
    text-align: center;
    font-size: 30px;
}
/* ------------------------------------------- */
@media screen and (max-width: 900px) {
    #ana { 
        position: relative;
        width: 360px;
        height: 460px;   
    }
    #ana img {
        float: left;
        width: 80px;
        height: 80px;     
    }
    .popuptext {
        left: 5%;
    }
  }
/* @media sonu ------------------------------------ */

/* --------------------- popup -----------------------
   The actual popup */
  .popuptext {
    position: absolute;  
    visibility: hidden;
    width: 400px;
    background-color: rgb(129, 19, 105);
    color: #fff;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    padding: 1vw;
    clear: both;
    z-index: 1;
    top:35%;

    left: 5%;
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);  
  }
  
  .show {
    position: absolute;
    visibility: visible;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        top:0%
    }
    to {opacity:1 ;
        top:35%;
    }
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
        top:0%
    }
    to {opacity:1 ;
        top:35%;
    }
  }
